<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Index</h1>
<ul>
  <li><a th:href="@{/sample/all}">/sample/all</a></li>
  <li><a th:href="@{/sample/manager}">/sample/manager</a></li>
  <li><a th:href="@{/sample/admin}">/sample/admin</a></li>
  <li sec:authorize="isAuthenticated()"> <!--login하면 뜸 -->
    Only Authenticated user can see this Text
    <a th:href="@{/auth/logout}">/auth/logout</a></li>
</ul>
</body>
</html>